@mixin all{
	*{
		margin: 0;
		padding: 0;
	}
	a{
		text-decoration: none;
		&:link{
            color: black;
		}
		&:visited{
			color: black;
		}
		&:hover{
			color: black;
		}
		&:active{
			color: black;
		}
	}
	li{
		list-style: none;
	}
}

@include all;

.processitem{
	margin: 20px 0;
	.process{
	width: 500px;
	height: 10px;
	border: 1px solid black;
}
}


.menu{
	overflow:hidden;
	.menuitem{
		min-width: 4em;
		float:left;
		margin: 0 1em 0 0 ;
		&:hover .hideitem{
			display: block;
			position: absolute;
		}
		.hideitem{
			background: white;
			min-width: 6em;
			display:none;
			border: 1px solid black;
			li:hover{
				background:gray;
			}
		}
		#save{
			overflow: hidden;
			position: relative;
			a{
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
			}
		}
	}
}

#myCanvas{
	border:1px solid black;
}
#rawCanvas{
	border: 1px solid black;
}

.processitem{
	.process{
		.blue{
			background: blue;
			height: 10px;
			width: 0px;
		}
	}
}